{% extends 'base.html' %}

{% block title %}
  To Do List
{% endblock title %}
{% block content %}
  <main>
    <div>
      <h1>My Lists</h1>
      <div>
        <p>
          <a href="{% url 'todo_list_create' %}">Create a new list</a>
        </p>
        <p>
          <a href="{% url 'todo_item_create' %}">Create a new item</a>
        </p>
      </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of Items</th>
          </tr>
        </thead>
        <tbody>
          {% for todos in todo_list %}
            <tr>
              <td>
                <a href="{% url 'todo_list_detail' todos.id %}">{{ todos.name }}
                </td>
              </a>
              <td>{{ todos.items.all |length }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock content %}
